body{
    /*background-image: url("mechlan.jpg");*/
    background-image: linear-gradient(to right, #8360c3, #2ebf91);
    /*background-color: #ffafbd + #ffc3a0;*/
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    margin: auto;
}
.header1{
    font-size: 55px;
    color: black;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    background-color: rgb(76, 186, 223);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 455px;
    text-align: center;
}
.header1:hover{
    color: green;
}
.center1{
    display: grid;
    justify-content: center;
}
.b1{
    background-color: lightcoral;
    display:block;
    height: 50px;
    width: auto;
    font-size: 25px;
    border-radius: 25px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 7px;
}
.b1:hover{
    background-color: lightblue;
}
a:visited{
    color: blue;
}
.th1{
    color:aqua;
}
th, td{
    padding:20px;
    border: solid 2px black;
    border-collapse: collapse;
    font-size: 25px;
}