body{
    /*background-image: url("mechlan.jpg");*/
    background-image: linear-gradient(to right, #8360c3, #2ebf91);
    /*background-color: #ffafbd + #ffc3a0;*/
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
}
.header1{
    font-size: 55px;
    color: black;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    background-color: rgb(76, 186, 223);
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 200px;
}
.header1:hover{
    color: green;
}
.center1{
    display: grid;
    justify-content: center;
}
.b1{
    background-color: lightcoral;
    display:block;
    height: 50px;
    width: 450px;
    font-size: 25px;
    border-radius: 25px;
    justify-content: center;
    margin-left: -10px;
    padding-bottom: 7px;
}
a{
    color: blue;
}
a:hover{
    color: lightblue;
}
a:visited{
    color: blue;
}
.th1{
    color:aqua;
}
th, td{
    padding:20px;
    border: solid 2px black;
    border-collapse: collapse;
    font-size: 25px;
}